.cards{
    max-width: 670px;
    margin:auto ;
    padding: 20px;
}
.card {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.card .location {
  display: flex;
  align-items: center;
  margin-bottom:10px ;
}

.location .map-icon {
  color: #f55a5a;
  font-size: 18px;
  margin-right: 10px;
}
.location .city {
    font-size: 18px;
    letter-spacing: 6px;
    font-weight: lighter;
    color: #2B283A;
    margin-right: 10px;
}
.location a{
    color: #918E9B;
    font-size: 18px;
}

.card .title{
    margin-bottom: 15px;
}

.title h1{
 font-size: 40px;
 color: #2B283A;
 margin-bottom: 15px;
}

.title .date{
    font-weight: bold;
    color: #2B283A;
}

.card .description{
 font-size: 17px;
 color: #2B283A;
 line-height: 1.5;
}
